/* font-family: 'Inter', sans-serif;
   font-family: 'Josefin Sans', sans-serif; */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1b1924;
}

#app {
  /* width: 390px; */
  width: 390px;
  background: #1b1924;
  text-align: center;
  margin: 0 auto 0 auto;
}

#freddie {
  width: 90px;
  margin: 51px auto 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

h4 {
  color: red;
}

h1 {
  margin: 17px auto 0 auto;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
}

input,
textarea {
  background-color: #444059;
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #8f8f8f;
  border: 2px solid #e93398;
  border-radius: 10px;
}

#endorsement-box {
  width: 317px;
  height: 118px;
  padding: 10px 15px;
  margin: 10px auto 0 auto;
}

#to-from {
  margin: 9px auto auto 0;
  flex-grow: 1;
  flex-wrap: wrap;
}

.inputs {
  height: 40px;
  max-width: 152px;
  text-align: center;
}

button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: white;
  width: 317px;
  height: 61px;
  margin: 9px auto 0 auto;
  background: #e93398;
  border: none;
  border-radius: 8px;
}

#endorsements-title {
  margin: 24px 0 19px 0;
}

li {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  background: white;
  text-align: left;
  width: 287px;
  list-style: none;
  padding: 7px 15px;
}

.bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

#test {
  padding: 0 0 10px 0;
  margin-bottom: 100px;
}
/*
p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  width: 293px;
  margin: 0 auto 13px auto;
  padding: 10px 12px;
  background: #f0ead6;
} */
